body {
  font-family: sans-serif;
  background: #384047;
}
h1 {
  color: #771835;
  text-align: center
}

ul {
  list-style:none;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 780px;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 8px;
  background: #514169;
  margin:10px;

}
ul li img {
  display: block;
}
a {
  text-decoration: none;
}

/** Start Coding Here **/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;

}

#overlay img {
 margin-top: 10%;
 zoom: 150%;
 border: 3px solid #A1904E;

}

#overlay p {
 background-color: #CD9D39;
 margin-left: 35%;
 margin-right: 35%;
 padding-top: 2%;
 height: 15%;
 color: #771835;;
 border: 3px solid #AE2228;

}


.logo {
  width: 190px;
  border-radius: 50%;
  border: 2px solid #514169;

}

.headline {
  margin-bottom: 0;
}

.icon-location {
  width: 55px;
  margin: 20px;
  position: absolute;
  top: 5px;
  z-index: 2;
  border-radius: 50%;
  border: 4px solid #514169;
}














